body{
    font-family: sans-serif;
    background-color: #f1f1f1;
}
/* ####################################### */
/*            NAVEGACION                   */
.navegacion{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8EC07C;
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.navegacion-logo img{
    width: 200px;
    height: 180px;
}
.navegacion-link{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}
.navegacion-link a{
    text-decoration: none;
    color: #3C3836;
    font-weight: 900;
    font-size:18px;
    padding: 20px 25px;
}
.nav-user{
    border: 1px solid #3C3836;
    border-radius: 10px;
}
.navegacion-link a:hover{
    background-color: #76a167;
    color: white;
    padding: 20px 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);   
    border-radius: 10px;
}
/* ####################################### */
/*            CABECERO                    */
.cabecero{
    height: 65vh;
    background: url(../img/portada-cabecero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
    color: white;
    text-align: center;
}
.cabecero h2{
    font-size: 60px;
    margin: 0px;
    text-shadow: 0px 0px 3px #000;
}
.cabecero p{
    font-size: 20px;
    margin: 0px;
    text-shadow: 0px 0px 3px #000;
}

/* ####################################### */
/*            MAIN SECCION                */

.contenedor-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    color: #3C3836;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);   
}
.main-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-main{
    font-size: 30px;
    margin: 21px auto;
}
.titulo-main span{
    color: #76a167;
}
.main-dispositivos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    margin: 30px auto;
}
.main-dispositivos span{
    font-size: 70px;
}



/* ####################################### */
/*            SECCION CREA RESPONDE        */
.contenedor{
    margin: 50px 80px;
    color: #3C3836;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16),0px 2px 10px rgba(0, 0, 0, 0.12);   
    padding: 10px 0px 20px 0px;
}
.crea-responde h2{
    font-size: 50px;   
    margin-bottom: 2px;
}
.crea-responde span{
    font-size: 100px;
}
.bton{
    margin-top: 40px;
    padding: 15px 100px;
    background-color: #76a167;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}
.bton:hover{
    background-color: #3C3836;
    color: #8EC07C;
}
/* ####################################### */
/*            PIE DE PAGINA              */
.footer{
    background-color: #8EC07C;
    text-align: center;
    margin: 0px;
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}
.footer p{
    margin: 0px auto 8px auto;
    color: white;
}
